/* styles-print.css */

/* Hide elements that should not be printed */
.no-print {
  display: none !important;
}

/* Adjust the layout for printing */
@media print {
  body {
    background: transparent !important;
  }

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 16px; 
    line-height: 1.5; 
  }

  .page-break {
    page-break-before: always;
  }
}
